@{
    ViewData["Title"] = "Update";
}
@model Product
<h1>Ürün Güncelle</h1>

<form asp-controller="Products" asp-action="Update" method="post">

    <input type="hidden" asp-for="Id" />


    <div class="mb-3">
        <label for="Name" class="form-label">Ürün İsmi</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Ürün Fiyatı</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label for="Stock" class="form-label">Ürün Stok</label>
        <input class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
        <label for="Color" class="form-label">Ürün Rengi</label>
        <input class="form-control" asp-for="Color">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>


</form>