
@{
    ViewData["Title"] = "Update";
}
@model Product
<h1>Ürün Güncelle</h1>

<form asp-controller="Products" asp-action="Update" method="post">

    <input type="hidden" asp-for="Id" />

    <label>Ürün Adı: </label>
    <input type="text" asp-for="Name" />
    <br />
    <label>Ürün Fiyatı: </label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok: </label>
    <input type="text" asp-for="Stock" />
    <br />
    <label>Ürün Rengi: </label>
    <input type="text" asp-for="Color" />

    <button type="submit">Güncelle</button>


</form>